# App artifacts
/_build
/builds
/db
/deps
/*.ez
/.elixir_ls
/assets/node_modules
*/node_modules
/priv/static
.mix
.hex
/.mix
/.hex
.\#*
*~
*.data.sql
.cache
.cargo
.npm
.erlang.cookie
docs/exdoc
.ash_history

# Prevent committing custom emojis
/priv/static/emoji/custom/*

# Generated on crash by the VM
erl_crash.dump
*.dump

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment variables.
config/*.secret.exs
config/secret.exs
*secrets.env

# Database setup file, some may forget to delete it
/config/setup_db.psql

.DS_Store
.env
.bash_history

# Editor config
/.vscode

# Generated test files
/test_uploads/

# localised strings
priv/gettext/*/LC_MESSAGES

#Data
/uploads/*
!/uploads/index.html
/test/uploads
/data/*
priv/repo/structure.sql

#Custom configs
config/dev
config/prod

#Extensions development
/extensions
/libs
