<div class="editor_container">
<%# TODO: load different editor based on config %>
<%= live_component(
    @socket,
    MoodleNetWeb.EditorLive.ProsemirrorLive,
    current_user: @current_user,
    content_placeholder: @content_placeholder,
    id: @id<>"_prosemirror"
  ) %>
</div>
