<form phx-change="search" phx-target="<%=@myself%>" class="search-form">
  <%= text_input :search_field, :query, placeholder: "Search...", autofocus: true, "phx-debounce": "300", class: "header__search", value: @search %>
</form>
