
input {
  background-color: var(--background);
  border: var(--border);
  border-radius: 4px;
  height: 34px;
  text-indent: 8px;
}

body {
  font-family: var(--fontPrimary);
  font-weight: 400;
  color: var(--darker);
  background-color: var(--background);
  font-size: 14px;
}