<div class="standard__bg"></div>
<div class="page__signup">
  <div class="login__form">
    <div class="form__wrapper">
      <h1>Terms & Conditions</h1>
      <div>Text terms and conditions</div>
    </div>
  </div>
  <div class="login__footer"></div>
</div>
