<div class="standard__bg"></div>
<div class="page__signup">
  <div class="login__form">
    <div class="form__wrapper">
      <h1>Reset your password</h1>
      <form>
        <div class="form__container">
          <label for="email">Enter your email</label>
          <input id="email" type="text" placeholder="Type your email..." />
        </div>
        <button type="submit">Send email</button>
      </form>
    </div>
  </div>
  <div class="login__footer"></div>
</div>
