<div>
  <%=
  live_component(
      @socket,
      CommonsPub.Web.Component.PreviewLive,
      object: @object,
      object_type: @object_type,
      current_user: @current_user,
      preview_id: e(@object, :id, 'unknown')

    )
%>
</div>
