<div class="page__fullContent">
  <section class="page__member">
    <div class="member__hero">
      <div class="suphero">
        <div class="suphero__actions">
        </div>
      </div>
    </div>
    <div class="member__layout">
      <div class="mainContent__selected">
        search
      </div>
      <div class="member__navigation">
        test
      </div>
    </section>
  </div>
