<%= for community <- @my_communities do %>
  <div class="panel__item">
    <%= live_redirect to: "/&"<> e(community, :actor, :preferred_username, e(community, :id, "")) do %>
      <img src="<%= e(community, :icon_url, e(community, :image_url, ""))%>" />
      <h3><%= e(community, :name, "Community")%></h3>
    <% end %>
  </div>
<% end %>
