
/* DISCUSSION PREVIEW */

.discussion__preview {
  padding: 16px;
  border-bottom: var(--border);
}

.discussion__preview .discussion__title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px
}

.discussion__meta {
  display: flex;
  align-items: center;
}

.discussion__meta .meta__time {
  color: var(--gray);
  flex: 1;

}