<section class="settings__section">
  <div class="section__main">
    <h1>Flags</h1>
    <div class="flags__wrapper">
      <%= live_component(
      @socket,
      CommonsPub.Web.Component.ActivitiesListLive,
      assigns
      )
    %>
    </div>
  </div>
</section>
