
.mainContent__navigation {
  margin-top: var(--m2);
  background-color: var(--lighter);
  border: var(--border);
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  padding: 0 16px;
}

.home__navigation {
    grid-template-columns: 1fr 1fr 1fr;
}

.navigation__item {
  place-self: center;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  color: var(--darker);
}

.navigation__item.active {
  font-weight: 500;  
  color: var(--primary);
}

.navigation__item.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--primary);
  display: block;
  bottom: -14px;
}

.navigation__item i {
  margin-right: 4px;
}

.selected__header {
  height: 50px;
  border-bottom: var(--border);
  padding: 0 var(--m2);
  display: grid;
}

.selected__header h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin: 0;
  margin-left: var(--m2)
}