:4000, 
:80 
{

  root /var/www

# rewrite all paths used in Elixir app
  rewrite /api {
    to /proxy-elixir{uri}
  }
  rewrite /oauth {
    to /proxy-elixir{uri}
  }
  rewrite /.well-known {
    to /proxy-elixir{uri}
  }
  rewrite /pub {
    to /proxy-elixir{uri}
  }


  cgi /devops/respawn/{$SECRET_KEY_BASE} /opt/app/shutdown-instance.sh # webhook used to trigger shutdown of container and respawn of k8s pod


  on startup /opt/app/bin/moodle_net start &


  proxy /proxy-elixir/ 127.0.0.1:4001 {

    websocket
    transparent
    without /proxy-elixir
  }


  # rewrite any other non-existing paths to index files or single-page-app
  proxy / {$FRONTEND_BASE_URL} {
    except /uploads /devops /proxy-elixir
    #cache
    transparent
    header_upstream Host {$FRONTEND_BASE_URL}
  }


  gzip

}
