:80 
{

  root /var/www

# rewrite all paths used in Elixir app
  rewrite /api {
    to /proxy-elixir{uri}
  }
  rewrite /oauth {
    to /proxy-elixir{uri}
  }
  rewrite /.well-known {
    to /proxy-elixir{uri}
  }
  rewrite /pub {
    to /proxy-elixir{uri}
  }


  cgi /devops/respawn/{$MAIL_KEY} /opt/app/shutdown-instance.sh # webhook used to trigger shutdown of container and respawn of k8s pod


  on startup /opt/app/bin/moodle_net start &


  proxy /proxy-elixir/ 127.0.0.1:{$PORT} {

    without /proxy-elixir
    transparent
    websocket
  }


  rewrite / {
    if {$FRONTEND_HOSTNAME} not {$HOSTNAME} # if frontend is served on another domain, proxy that
    if {path} not_starts_with /uploads
    if {path} not_starts_with /devops
    if {path} not_starts_with /proxy-elixir
    to /proxy-frontend{uri}
  }

  proxy /proxy-frontend/ https://{$FRONTEND_HOSTNAME} {
    except /uploads /devops /proxy-elixir
    without /proxy-frontend
    #cache
    transparent
    header_upstream Host {$FRONTEND_HOSTNAME}
  }


  gzip

  errors
  #log stdout

}
