<div id="<%= @id %>" class="editor" phx-hook="MarkdownEditor">
  <div class="editor-visual" phx-ignore="true">
    <div id="<%= @id %>_markdown" class="editor_markdown"></div>
  </div>
  <textarea phx-change="tag_suggest" phx-target="#write_tag" id="<%= @id %>_content" class="editor_textarea" name="content" placeholder="<%= @content_placeholder %>"></textarea>
</div>
