<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", suffix: " :: "<>app_name %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div id="template" class="page <%= if !@current_user , do: "guest", else: "logged" %>">

    <%= if @current_user do %>

    <input id="slide-sidebar" type="checkbox" role="button" />
    <label id="slide-sidebar-label" for="slide-sidebar"><span><i class="feather-chevrons-left"></i></span></label>
    <nav id="drawer" class="Drawer">
      <div class="Drawer-content">
        <div class="panel__dropdown">
          <div class="panel__user">
            <button class="button user__dropdown"
                class="user__button-trigger"
                data-toggle-class="is-open"
                data-toggle-target=".user-dropdown-list"
                data-toggle-outside
                data-toggle-escape
              >
              <img data-toggle-class="is-open"
                data-toggle-target=".user-dropdown-list"
                data-toggle-outside
                data-toggle-escape src="<%= @current_user.icon_url %>" />
              <h3 data-toggle-class="is-open"
                data-toggle-target=".user-dropdown-list"
                data-toggle-outside
                data-toggle-escape><%= @current_user.name %></h3>
            </button>
            <ul class="user-dropdown-list">
              <li><a href="/my/profile">Profile</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="#">Logout</a></li>
              <!-- Several options -->
            </ul>
          </div>
        </div>
        <div class="content__meta">
          <nav class="meta__main-menu">
            <div class="panel__item">
              <a href="/my/timeline">
                <i class="feather-home"></i> Home
              </a>
            </div>
            <div class="panel__item">
              <a href="/search">
                <i class="feather-search"></i> Search
              </a>
            </div>
            <div class="panel__item">
              <a href="/">
                <i class="feather-anchor"></i> My Instance
              </a>
            </div>
            <div class="panel__item">
              <a href="/my/notifications">
                <i class="feather-bell"></i> Notifications
              </a>
            </div>
          </nav>
          <h3 class="panel__title">Communities</h3>
          <nav class="panel__communities">
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
            <div class="panel__item">
              <img src="https://picsum.photos/40" /> 
              <h3>ValueFlows UI components</h3>
            </div>
          </nav>
        </div>
        <div class="content__bottom">
          <button class="button new-community">Create a new community</button>
        </div>
      </div>
      <div class="content__meta">
        <nav class="meta__main-menu">
          <div class="panel__item">
            <a href="/my/timeline">
              <i class="feather-home"></i> Home
            </a>
          </div>
          <div class="panel__item">
            <a href="/search">
              <i class="feather-search"></i> Search
            </a>
          </div>
          <div class="panel__item">
            <a href="/">
              <i class="feather-anchor"></i> My Instance
            </a>
          </div>
          <div class="panel__item">
            <a href="/my/notifications">
              <i class="feather-bell"></i> Notifications
            </a>
          </div>
        </nav>
        <h3 class="panel__title">Communities</h3>
        <nav class="panel__communities">
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
          <div class="panel__item">
            <img src="https://picsum.photos/40" />
            <h3>ValueFlows UI components</h3>
          </div>
        </nav>
      </div>
      <button class="button new-community">Create a new community</button>
    </div>
  </nav>
<% end %>
<%= if @current_user == nil do %>
  <header class="page__header">
    <div class="header__left">
      <a href="/">
        CommonsPub
      </a>
      <input placeholder="Search..." />
    </div>
    <div class="header__right">
      <a class="button" href="/login"><i class="feather-file-text"></i> Login</a>
    </div>
  </header>
<% end %>
<section class="page__wrapper">
  <div class="page__mainContent">
    <%# <button class="button-outline-only-icon" aria-expanded="true" aria-controls="drawer">
        <i class="feather-chevrons-left"></i>
      </button> %>
    <%= @inner_content %>
  </div>
</section>
</div>
</body>
</html>
