<div id="comment-<%= e(@comment, :id, "") %>">

  <div class="preview__replies_to_comment" style="margin-left: <%=@sublevel%>px">

    <%= live_redirect to: "/@"<> e(@comment, :creator, :character, :preferred_username, "deleted"), class: "comment__avatar_link" do %>
        <img src="<%= e(@comment, :creator, :icon_url, "") %>" alt="icon" />
<% end %>
<p><%= e(@comment, :content, "") %></p>
</div>
</div>
