<!DOCTYPE html>
<html lang="en">
  <head>
    <%= live_title_tag assigns[:page_title] || "", suffix: " :: "<>app_name() %>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
