<p>Hi <%= @user.name %>,</p>

<p>To complete your sign up, please verify your email:</p>

<br>
<a href="<%= @url %>">Verify email</a>
<br>

<p>Alternatively, copy and paste this link into your browser: <%= @url %></p>

