.Body {
  padding: 15px;
}

.Menu {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  border-left: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  border-bottom-left-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 3px lightgrey;
}

.Menu__item:not(:last-child) {
  margin-right: 10px;
}

.Card {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 3px lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.H1 {
  margin: 0 0 30px 0;
}
